ul, li
{
  list-style: square;
}

a
{
  text-decoration: none;
  color: blueviolet;
}
a:hover{
  color: rgb(193, 48, 157);
}

.App {
  text-align: justify;
}

.App-logo {
  position: relative;
  bottom: 3px;
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-cities
{
  margin-right: 2em;
}
.overview
{
  text-align: right;
}
.actual-city
{
  font-size: 30px;
  list-style: none;
}
.icon
{
  width: 100px;
}
.forecastIcon
{
  width: 60px;
  height: 60px;
}
.forecast
{
  font-size: smaller;
}
.temperature
{
  font-size: 38px;
}
.Weather
{
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 30px;
  padding-top: 10px;
  margin: auto;
  max-width: 1000px;
}
body
{
  max-width: 1000px;
  margin: 0 auto;
}
footer
{
  font-size: 13px;
  margin: 6px 0;
}
.weather2
{
  text-align: left;
}
.weekDay
{
  color:rgb(48, 147, 193);
}
.Minimum
{
  opacity: 0.6;
  padding-right: 65px;
  font-size: smaller;
}
.minimum
{
  opacity: 0.6;
  padding-right: 30px;
}
.maximum
{
  font-weight: bolder;
}
.Minimum, .minimum, .maximum
{
  position: relative;
  top: 20px;
}
.currentDayWeather
{
  line-height: 0;
}
.btn
{
  width: 101px;
}
.farenheitConversion:hover
{
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.unit
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  bottom: 16px;
}
.noListStyle
{
  list-style-type: none;
}